.spinner-border {
    height: 4rem;
    width: 4rem;
}

.score a {
    color: #212529;
    text-decoration: none;
}

.score a:hover {
    color: #212529;
    text-decoration: none;
}

.rounded-circle {
    border: 5px solid #00000010;
}

.mw-32 {
    min-width: 32px!important;
}

.mw-350 {
    max-width: 350px!important;
    width: 100%!important;
}