/* Eigen stijl-elementen zijn hierin aan te vullen */

.klikrondes tr:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

#beker1 {
    color: gold;
}

#beker2 {
    color: silver;
}

#beker3 {
   color: rgb(210,114,71,.8);
}